<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "NRU Space Team" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "NRU Space Team" %>">
    <% #= stylesheet_link_tag "application", :media => "all" %>
    <% #= javascript_include_tag "application" %>

    <!-- <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->

    <!-- <link rel="stylesheet" media="all" href="/assets/_bootstrap-sprockets.css?body=1" /> -->

    <link rel="stylesheet" media="all" href="/assets/css/bootstrap.css?body=1" />

    <style type="text/css">
      body { padding-top: 70px; }
    </style>


    <link rel="stylesheet" media="all" href="/assets/css/many_calls.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/css/errors.css?body=1" />
    <link rel="stylesheet" media="all" href="/assets/css/photo-gallery.css?body=1" />

    <!-- <link rel="stylesheet" media="all" href="/assets/home.css?body=1" /> -->

    <script src="/assets/js/jquery.js?body=1"></script>

    <!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <script src="/assets/js/bootstrap/affix.js?body=1"></script>
    <script src="/assets/js/bootstrap/alert.js?body=1"></script>
    <script src="/assets/js/bootstrap/button.js?body=1"></script>
    <script src="/assets/js/bootstrap/carousel.js?body=1"></script>
    <script src="/assets/js/bootstrap/collapse.js?body=1"></script>
    <script src="/assets/js/bootstrap/dropdown.js?body=1"></script>
    <script src="/assets/js/bootstrap/modal.js?body=1"></script>
    <script src="/assets/js/bootstrap/scrollspy.js?body=1"></script>
    <script src="/assets/js/bootstrap/tab.js?body=1"></script>
    <script src="/assets/js/bootstrap/transition.js?body=1"></script>
    <script src="/assets/js/bootstrap/tooltip.js?body=1"></script>
    <script src="/assets/js/bootstrap/popover.js?body=1"></script>
    <script src="/assets/js/bootstrap-sprockets.js?body=1"></script>
    <script src="/assets/js/application.js?body=1"></script>

    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/navigation' %>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="col-md-12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>

          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <%= yield(:footer) %>
  </body>
</html>
